

*{
    text-align: center;
}
input{
    height: 35px;
    width: 20%;
}
button{
    height: 40px;
    width: 10%;
    background-color: orange;
    border: none;
    color: white;
}
.edit{
    height: 40px;
    width: 15%;
    background-color: rgb(15, 125, 32);
    border: none;
    color: white;
}
.delete{
    height: 40px;
    width: 15%;
    background-color: red;
    border: none;
    color: white;
}
    